server:
  port: 3005

goapi:
  apikey: xxxxxx
  timeout: 600000  # 超时时间（毫秒），默认10分钟

s3:
  accessKeyId: xxxxxxxx
  secretAccessKey: xxxxxxxx
  endpoint: xxxxxxxx
  region: xxxxxxxx
  bucket: xxxxxxxx
  publicAccessUrl: xxxxxxxx
